/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
  }
  
  header {
    background: #007BFF;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  details {
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    background: #f9f9f9;
  }

  .api-details-get {
    padding: 1px;
    background: #00bcd4;
    border-radius: 4px;
    margin-top: 10px;
  }

  .api-details-post {
    padding: 1px;
    background: #4caf50;
    border-radius: 4px;
    margin-top: 10px;
  }

  .api-details-patch {
    padding: 1px;
    background: #ff9800;
    border-radius: 4px;
    margin-top: 10px;
  }

  .api-details-delete {
    padding: 1px;
    background: #f44336;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  details summary {
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    list-style: none;
    border-radius: 4px;
  }
  
  details summary:hover {
    background: #555;
  }

  details summary span {
    font-size: 0.9em;
    color: #ccc;
    margin-left: 10px;
  }

  details ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  details ul li {
    margin: 5px 0;
  }
  
  details ul li details {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  details ul li details summary {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  details ul li details summary:hover {
    background: #f1f1f1;
  }
  
  .api-details {
    padding: 10px;
    background: #f4f4f4;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .api-details pre {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: pre-wrap;
  }
  
  /* Badge Styles */
  .badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .get {
    background: #00bcd4;
  }
  
  .post {
    background: #4caf50;
  }
  
  .put {
    background: #ffc107;
  }
  
  .patch {
    background: #ff9800;
  }
  
  .delete {
    background: #f44336;
  }
  
  .options {
    background: #9c27b0;
  }
  
  .head {
    background: #3f51b5;
  }

  .endpoint {
    font-weight: bold;
    color: #333;
  }

  .endpoint-description {
    color: #333;
  }